<template>
    <div class="fetch">
        <div class="card" v-for="item in posts" :key="item.id">
            <div>
                {{ item.title }},
                {{ item.content }},
                {{ item.id }}
            </div>
        </div>
        <div class="create">
            <form>
                <input type="text" placeholder="Title" v-model="post.id">
                <input type="text" placeholder="Title" v-model="post.title">
                <input type="text" placeholder="categories" v-model="post.categories">
                <input type="text" placeholder="Content" v-model="post.content">
                <button type="submit" @click="addArticle">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            posts: [],
            post: { id: '', title: '', categories: '', content: ''
            },
        }
    },
    mounted() {
        axios
        .get('http://reduxblog.herokuapp.com/api/posts?key=didik3')
        .then(response => (
            this.posts = response.data,
            console.log(this.posts)
        ))   
    },
    methods: {
        addArticle(){
            let newArticle = {
                id: this.post.id,
                title: this.post.title,
                categories: this.post.categories,
                content: this.post.content
            }
            console.log(newArticle)
            axios.post('http://reduxblog.herokuapp.com/api/posts?key=didik3')
            .then(response => {
                console.log(response)
            })
            .catch((error) => {
                alert('GAGAL');
            })
        }

    }
}
</script>

<style>

</style>
