<template>
  <div class="apphome">
      <app-header></app-header>
      <router-link to="/"><h1>Home</h1></router-link>
  </div>
</template>

<script>

import appHeader from './appHeader.vue'
export default {
    components: {
        appHeader
    }
}
</script>

<style>

</style>
