<template>
    <div class="apphome">
        <app-header></app-header>
        <div class="appcontent">
            <div class="container">
                <swiper :options="swiperOption">
                    <swiper-slide v-for="item in slider" :key="item.id"> <img :src="item.img"> </swiper-slide>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                </swiper>
                <div class="row home-content">
                        <div class="col-12 d-flex">
                                <div class="col-4">
                                    <b-form inline>
                                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                                    <b-input class="mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Jane Doe" />
                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                    <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input id="inlineFormInputGroupUsername2" placeholder="Username" />
                                    </b-input-group>
                                    <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0">Remember me</b-form-checkbox>
                                    <b-button variant="primary">Save</b-button>
                                    </b-form>
                                </div>
                                <div class="col-4">
                                    <b-form inline>
                                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                                    <b-input class="mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Jane Doe" />
                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                    <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input id="inlineFormInputGroupUsername2" placeholder="Username" />
                                    </b-input-group>
                                    <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0">Remember me</b-form-checkbox>
                                    <b-button variant="primary">Save</b-button>
                                    </b-form>
                                </div>
                                <div class="col-4">
                                    <b-form inline>
                                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                                    <b-input class="mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Jane Doe" />
                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                    <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input id="inlineFormInputGroupUsername2" placeholder="Username" />
                                    </b-input-group>
                                    <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0">Remember me</b-form-checkbox>
                                    <b-button variant="primary">Save</b-button>
                                    </b-form>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import appHeader from "./appHeader.vue";
export default {
  data() {
    return {
      slider: [
        {
          name: "test",
          img:
            "https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
        },
        {
          name: "test",
          img:
            "https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
        },
        {
          name: "test",
          img:
            "https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
        },
        {
          name: "test",
          img:
            "https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350"
        }
      ],
      content: [
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          },
          {
              title: 'Title',
              img: 'https://picsum.photos/300/300/?image=41',
              desc: 'This is a wider card with supporting text below as anatural lead-in to additional content. This content is a little bit longer.',
              time: 'Last updated 3 mins ago'
          }
      ],
      swiperOption: {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },
  components: {
    appHeader
  }
};
</script>

<style scoped>
img {
  width: 100%;
}
</style>
